.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 37px;
}
.navbar-nav > .user-menu > .dropdown-menu{
    width: auto!important;
}
.required:after {
    content:" *";
    color: red;
}

@media print {
    body * {
        visibility: hidden;
    }
    #printarea, #printarea * {
        visibility: visible;
    }
    #printarea {
        position: absolute;
        left: 0;
        top: 0;
    }
}
